<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="YDNSSettings" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="Hosts" type="System.Configuration.DictionarySectionHandler, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
	</configSections>
	<!-- Timer interval specifies how often the IP address is pushed, value in seconds. Logging needs to be true or false. API User and API Key can be found here: https://ydns.io/user/api -->
	<YDNSSettings>
		<add key="timerInterval" value="300"/>
		<add key="Logging" value="true"/>
		<add key="APIUser" value=""/>
		<add key="APIKey" value=""/>
	</YDNSSettings>
	<!--Add the hosts below. The key has to be the address, for example: test.ydns.io -->
	<Hosts>
		<add key="myname.ydns.eu"/>
	</Hosts>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
</configuration>
